<header>
    <nav class="header_login">
      <div>
        <h3>GitHub Repository Visualizer</h3>
      </div>
    </nav>
</header>
<div class="githubUserName">
    <div class="githubUserName">
        <form method="POST" class="githubForm">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">GitHub Username : </label>
                <input type="text" name="username" class="form-control" id="username">
            </div>
            <a><button type="submit" class="btn btn-primary">Submit</button></a>
        </form>
    </div>
</div>